<div class="col-10 offset-1 about">
  <h1>About Splurty </h1>
   
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/RSalcido2019/1st-Repository.git">Ricardo</a> A web developer who is on a mission to turn ideas into reality.
  </p>
  <br />
 

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ricky.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ricardo Salcido</h2>
      <br />
      <p>
        Ricardo Salcido is a full-stack web developer and a proud alumnus of Vanderbilt University Coding Boot Camp. During this time he became well verse in computer science fundamentals,and front-end and back-end technologies. Ricardo's knowledge covers an array of full-stack such as: HTML5, CSS3, JavaScript, Java, jQuery, Bootstrap, Express.js, React.js, Node.js, MERN Stack, Database Theory, MongoDB, MySQL, Command Line, Deployment (Heroku, Git), Quality Assurance (Writing Tests),and more. In addition to this, Ricardo also has a wealth of knowledge from his logistics background which makes him fluent in both languages, business and technology. 
      </p>
    </div>
  </div>
  <br class="clear" />

<br />
<br />
<br />
<br />

  </div>
  
</div>