<div class="col-10 offset-1 about">
  <h1>About Splurty </h1>
   
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/RSalcido2019/1st-Repository.git">Ricardo</a> A web developer who is on a mission to turn ideas into reality.
  </p>
  <br />
 

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ricky.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ricardo Salcido</h2>
      <br />
      <p>
        Ricardo Salcido is a web developer whose objetive is to improve the users' experience.  He has a pasion for technology and the vision to make 
        his ideas a reality. 
      </p>
    </div>
  </div>
  <br class="clear" />

<br />
<br />
<br />
<br />

  </div>
  
</div>